:host {
    --dxp-s-form-element-label-color: var(--dxp-g-root-contrast);
    --dxp-s-dropdown-color-border: #d9dfe7;
    --dxp-s-form-element-label-line-height: 35px;
    --dxp-s-button-color: var(--dxp-g-root-contrast, #1c1c1c);
    --dxp-s-form-element-label-font-size: var(--dxp-g-font-size-4);
    --dxp-s-button-font-weight: 400;
}
.sort-menu {
    display: block;
}
.sort-list {
    display: none;
}
.sort-list-header {
    display: none;
}
@media only screen and (max-width: 64em) {
    .sort-menu {
        display: none;
    }
    .sort-list {
        --slds-c-radio-mark-color-foreground: var(--dxp-s-form-element-color-foreground, var(--dxp-g-brand-1));
        display: block;
        font-weight: var(--dxp-s-text-heading-small-font-weight);
        font-family: var(--dxp-s-text-heading-small-font-family);
        font-size: var(--dxp-s-text-heading-small-font-size);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: var(--com-c-search-filters-heading-text-color, var(--dxp-g-root-contrast));
        background-color: var(--com-c-search-filters-heading-background-color, transparent);
        display: flex;
        flex-direction: column;
        align-items: var(--com-c-search-filters-heading-alignment);
        text-decoration: var(--com-c-search-filters-heading-decoration);
        font-weight: var(--com-c-search-filters-heading-text-font-weight);
        font-style: var(--com-c-search-filters-heading-text-font-style);
        font-size: var(--com-c-search-filters-heading-text-font-size);
        font-family: var(--com-c-search-filters-heading-text-font-family);
        width: 100%;
    }
    .slot-style {
        width: 100%;
        display: flex;
    }
    lightning-radio-group::part(input-radio) {
        line-height: 35px;
    }
}
